[Unit]
Description=Joystick Script
After=network.target

[Service]
ExecStart=/home/sweepro/Downloads/sweepro/.venv/bin/python3 /home/sweepro/Downloads/sweepro/joystick.py
WorkingDirectory=/home/sweepro/Downloads/sweepro
Restart=always
User=sweepro
Environment="XDG_RUNTIME_DIR=/run/user/1000"
StandardOutput=journal
StandardError=journal
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
